In [320]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sea

import warnings
warnings.filterwarnings('ignore')

In [321]:
data = pd.read_csv('/Users/ankusmanish/Desktop/Training/Datasets/Week 6 data/bank.csv', sep = ';')

In [322]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [323]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [324]:
lis = []
cols = data.columns
for i in cols:
    if data[i].dtype == 'O':
        lis.append(i)

In [325]:
#The list of columns that has categorical values
print(lis)

['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

In [326]:
for i in lis:
    print(i.upper())
    print(data[i].value_counts())
    print('-'*100)
    print('-'*100)

JOB
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MARITAL
married     2797
single      1196
divorced     528
Name: marital, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
EDUCATION
secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
DEFAULT
no     4445
yes      76
Name: default, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
HOUSING
yes    2559
no     1962
Name: housing, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
LOAN
no     3830
yes     691
Name: loan, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
CONTACT
cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
MONTH
may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
POUTCOME
unknown    3705
failure     490
other       197
success     129
Name: poutcome, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Y
no     4000
yes     521
Name: y, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------

In [327]:
outcome = data['y']

In [328]:
data.drop(['job','default','housing','loan','month','poutcome','contact','day','marital','education','y'], axis = 1, inplace = True)

In [329]:
data.head()

   age  balance  duration  campaign  pdays  previous
0   30     1787        79         1     -1         0
1   33     4789       220         1    339         4
2   35     1350       185         1    330         1
3   30     1476       199         4     -1         0
4   59        0       226         1     -1         0

In [330]:
outcome = pd.DataFrame(outcome, columns = ['y'])

In [331]:
outcome.head()

    y
0  no
1  no
2  no
3  no
4  no

In [332]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [333]:
dat = lb.fit_transform(outcome)

In [334]:
outcome = pd.DataFrame(dat, columns = ['y'])

In [335]:
outcome['y'].value_counts()

0    4000
1     521
Name: y, dtype: int64

In [336]:
mod_data = pd.concat([data, outcome], axis = 1)

In [337]:
mod_data.head()

   age  balance  duration  campaign  pdays  previous  y
0   30     1787        79         1     -1         0  0
1   33     4789       220         1    339         4  0
2   35     1350       185         1    330         1  0
3   30     1476       199         4     -1         0  0
4   59        0       226         1     -1         0  0

In [338]:
mod_data.columns

Index(['age', 'balance', 'duration', 'campaign', 'pdays', 'previous', 'y'], dtype='object')

In [339]:
data = pd.DataFrame(mod_data, columns = ['age', 'balance', 'duration', 'campaign', 'pdays', 'previous', 'y'])

In [340]:
data.head()

   age  balance  duration  campaign  pdays  previous  y
0   30     1787        79         1     -1         0  0
1   33     4789       220         1    339         4  0
2   35     1350       185         1    330         1  0
3   30     1476       199         4     -1         0  0
4   59        0       226         1     -1         0  0

In [415]:
len(data[data['pdays'] < 0])

3705

In [347]:
train = data.iloc[:4000,:]
test = data.iloc[4000:,:]

In [345]:
train.head()

   age  balance  duration  campaign  pdays  previous  y
0   30     1787        79         1     -1         0  0
1   33     4789       220         1    339         4  0
2   35     1350       185         1    330         1  0
3   30     1476       199         4     -1         0  0
4   59        0       226         1     -1         0  0

In [346]:
test.tail()

      age  balance  duration  campaign  pdays  previous  y
4516   33     -333       329         5     -1         0  0
4517   57    -3313       153         1     -1         0  0
4518   57      295       151        11     -1         0  0
4519   28     1137       129         4    211         3  0
4520   44     1136       345         2    249         7  0

In [416]:
def E_Distance(x1, x2, length):
    distance = 0
    for x in range(length):
        distance += np.square(x1[x] - x2[x])
    return np.sqrt(distance)

In [431]:
# making function for defining K-NN model
def knn(train, test, k):
    distances = {}
    length = test.shape[1]
    for x in range(len(train)):
        dist = E_Distance(test, train.values[x], length)
        distances[x] = dist[0]
    sortdist = sorted(distances.items(), key = lambda x : x[1])
    
    
    neighbors = []
    for x in range(k):
        neighbors.append(sortdist[x][0])
    Count = {} 
    for x in range(len(neighbors)):
        response = train.iloc[neighbors[x]][-1]
        if response in Count:
            Count[response] += 1
        else:
            Count[response] = 1
    sortcount = sorted(Count.items(), key = lambda x : x[1], reverse=True)
    return (sortcount[0][0], neighbors)

In [432]:
# neighbors = [3981, 2019, 1071]
# Count = {}  # to get most frequent class of rows
# for x in range(len(neighbors)):
#     response = train.iloc[neighbors[x]][-1]
#     if response in Count:
#         Count[response] += 1
#     else:
#         Count[response] = 1
# sortcount = sorted(Count.items(), key=operator.itemgetter(1), reverse=True)

In [404]:
# sortcount

[(0, 3)]

In [442]:
# E_Distance(train.iloc[3981].values, b, 6)

0    16.248077
Name: 0, dtype: float64

In [439]:
# train.iloc[314][-1]

1

In [393]:
# distances = {}
# for x in range(len(train)):
#     dist = E_Distance(b, train.iloc[x], 7)
#     distances[x] = dist[0]
# sortdist = sorted(distances.items(), key=operator.itemgetter(1))

In [394]:
# sortdist

[(3981, 16.24807680927192),
 (2019, 24.06241883103193),
 (1071, 31.906112267087632),
 (1405, 37.5632799419859),
 (2951, 39.54743986657038),
 (1226, 39.736632972611055),
 (776, 39.7994974842648),
 (380, 45.13313638558703),
 (1240, 57.113921245174545),
 (3434, 57.956880523368405),
 (3543, 70.49113419430843),
 (1323, 70.80254232723568),
 (883, 72.17340230306452),
 (2181, 73.08214556237385),
 (819, 73.71566997592845),
 (3487, 73.87151006985034),
 (2934, 83.18052656722004),
 (375, 83.27664738688752),
 (3976, 86.55634003352961),
 (2306, 91.65696918401787),
 (3060, 94.65199416811038),
 (187, 98.11218069128827),
 (3041, 98.2344135219425),
 (188, 98.28021163998376),
 (3669, 102.73266277090262),
 (2659, 106.59737332598773),
 (1109, 107.87492757819122),
 (913, 109.74971526158963),
 (3287, 111.51681487560519),
 (245, 113.41075786714416),
 (2000, 115.28226229563678),
 (2536, 132.1325092473461),
 (1426, 132.4235628579748),
 (1327, 132.58582126305964),
 (869, 132.7629466379833),
 (2069, 133.06389442670013),
 (3380, 135.46217184144066),
 (2596, 136.59062925398652),
 (1262, 139.49193525075205),
 (232, 140.0),
 (3523, 141.2267680009707),
 (3626, 141.48498153514387),
 (1159, 142.52368224263643),
 (433, 146.30105946301276),
 (814, 150.93707298076242),
 (3697, 153.7140201803336),
 (113, 154.6641522784126),
 (1225, 156.07690412101337),
 (906, 161.09624452481813),
 (821, 161.96913286178943),
 (3985, 162.82505949638096),
 (3263, 171.7032323516363),
 (1833, 172.77731332556365),
 (893, 175.07712586171843),
 (2266, 175.21986188785792),
 (177, 176.58425750898635),
 (596, 176.6210632965389),
 (1571, 178.45727780059855),
 (3518, 178.71765441612084),
 (565, 180.71247881648904),
 (598, 180.83970802896138),
 (828, 184.99729727755485),
 (1421, 185.04053609952604),
 (901, 193.08288375720932),
 (3574, 193.65691312215012),
 (699, 194.45822173412984),
 (249, 194.86148926865974),
 (133, 194.99743588057768),
 (2405, 195.48913013259843),
 (3756, 196.2421972971155),
 (960, 199.75234666956982),
 (658, 200.2373591515829),
 (3315, 202.57591169731904),
 (1697, 203.72775952235867),
 (675, 204.35263639111682),
 (1736, 208.0264406271472),
 (510, 208.3362666460163),
 (3335, 209.088498009814),
 (2271, 209.3704850259463),
 (2235, 209.4612135933524),
 (1096, 209.58291915134689),
 (2670, 210.27600909281117),
 (1380, 210.47327621339485),
 (3412, 211.34568838753253),
 (2242, 215.5295803364355),
 (3303, 216.78330193997877),
 (3929, 218.94519862285173),
 (2294, 219.36499264923745),
 (148, 220.09089031579657),
 (3703, 220.49716551466145),
 (3828, 220.6920931977401),
 (651, 221.77916944564473),
 (1983, 223.72080815158878),
 (3119, 230.04564764411433),
 (2293, 232.83041038489796),
 (2949, 233.22735688593653),
 (3394, 234.72963170422264),
 (2446, 235.74138372377473),
 (1210, 237.0717191062654),
 (578, 237.21509226859914),
 (208, 239.30942313247925),
 (1129, 241.24676163629638),
 (179, 242.10328374476873),
 (2918, 242.4912369550702),
 (128, 246.35340468522045),
 (3528, 246.72048962337928),
 (2429, 246.84205476376994),
 (2015, 248.5658866377283),
 (19, 251.06373692749816),
 (672, 251.45576151681234),
 (742, 256.03515383634334),
 (124, 256.64177368464397),
 (3278, 256.80732076792515),
 (1621, 260.5839595984373),
 (3569, 261.2068146124829),
 (1518, 261.38477384882236),
 (1042, 262.3299449167022),
 (2923, 262.9372548727167),
 (808, 263.2964109136317),
 (3433, 263.48244723320755),
 (459, 264.7527148113877),
 (3266, 265.9492432777352),
 (1444, 267.50140186548555),
 (1324, 269.8351348508937),
 (65, 270.4699613635496),
 (1108, 273.985401070933),
 (3519, 274.4467161399458),
 (657, 275.59934687876165),
 (3235, 276.5248632582611),
 (1875, 277.1840543754276),
 (394, 277.25078899797563),
 (70, 277.8686740170615),
 (3624, 279.49239703433796),
 (3654, 279.8160109786429),
 (3027, 279.9017684831591),
 (3751, 281.1618750826648),
 (409, 282.5331838917333),
 (1242, 284.0281676172277),
 (3530, 287.5917244984633),
 (551, 287.70644761631604),
 (3374, 287.97395715585117),
 (345, 288.9273265027038),
 (2539, 289.5444698142239),
 (903, 291.4498241550336),
 (999, 291.45497079308836),
 (1707, 291.77045772319036),
 (764, 292.02054722228024),
 (2460, 292.965868319161),
 (79, 293.07336965340266),
 (2067, 295.94931998570297),
 (1748, 297.4508362738286),
 (1195, 298.0184558043344),
 (3370, 299.24738929521175),
 (3834, 300.6310030585668),
 (3835, 300.9468391593439),
 (858, 303.29688425699334),
 (229, 303.9243326882532),
 (157, 304.59973736035954),
 (3004, 305.60268323429364),
 (1676, 306.07678775104785),
 (2005, 307.5304862936356),
 (2708, 310.16124838541646),
 (2050, 312.25630498037987),
 (353, 312.3331554606395),
 (2176, 312.59718488815605),
 (1520, 313.71802625925085),
 (3883, 315.99208850855746),
 (1382, 316.5801636236863),
 (649, 317.11669776282673),
 (2318, 318.5372819624102),
 (1320, 322.51821653977936),
 (3481, 328.6289701167564),
 (3181, 329.23699670602025),
 (941, 333.2791622649097),
 (3385, 334.9955223581354),
 (671, 335.72161086233336),
 (1485, 336.32722161609223),
 (1398, 339.70428316404843),
 (3270, 346.5977495599185),
 (1904, 349.99857142565594),
 (76, 350.16281927126414),
 (1810, 351.3388677615957),
 (1124, 351.36163706358155),
 (9, 352.264105466339),
 (1275, 354.04237034569746),
 (14, 356.44494666077117),
 (1538, 358.9596077555245),
 (3612, 359.2923600635004),
 (2849, 359.34802072642617),
 (1089, 360.22631775038315),
 (836, 360.23464575190434),
 (3616, 360.24297356090096),
 (1549, 360.2748950454361),
 (3165, 360.2929363726133),
 (3085, 360.4275239212455),
 (1424, 360.4427832541526),
 (1517, 360.47052584087925),
 (2407, 360.5814748430651),
 (2730, 360.6036605471442),
 (2023, 360.62445840513925),
 (3044, 360.7020931461308),
 (81, 360.75060637509677),
 (32, 360.7616941971528),
 (3241, 360.79495561883897),
 (3802, 360.83791375075873),
 (1234, 360.9141172079585),
 (3197, 360.93628246547894),
 (3918, 360.93766774887877),
 (786, 360.96814263865446),
 (851, 360.99861495579177),
 (3768, 361.0),
 (3554, 361.006925141333),
 (3925, 361.0152351355826),
 (3504, 361.01800509115884),
 (1321, 361.0193900609772),
 (1714, 361.03462437832746),
 (950, 361.0526277428264),
 (3531, 361.05816705899343),
 (2029, 361.07893873777795),
 (3126, 361.07893873777795),
 (1834, 361.1287858922354),
 (859, 361.14955350934605),
 (2012, 361.1523224347311),
 (3860, 361.1523224347311),
 (2570, 361.1606290835146),
 (2693, 361.1744730736102),
 (3524, 361.18970084984426),
 (3129, 361.1966223540857),
 (1965, 361.2284595654113),
 (3240, 361.23953272032674),
 (2193, 361.26029397098154),
 (1417, 361.2630620475888),
 (2870, 361.278286089823),
 (3242, 361.2796700618511),
 (3760, 361.2796700618511),
 (3111, 361.2838219461259),
 (1728, 361.3184191263988),
 (3351, 361.32257056541596),
 (1091, 361.3281057432427),
 (2964, 361.34332704506943),
 (1787, 361.350245606669),
 (1825, 361.3613150297082),
 (3579, 361.36269868374626),
 (538, 361.372384113673),
 (3057, 361.40143884605664),
 (604, 361.4180405015776),
 (996, 361.429107848275),
 (3055, 361.4332580159164),
 (2387, 361.4360247678695),
 (118, 361.4443248966568),
 (1408, 361.44570823292395),
 (1245, 361.4761402914444),
 (2519, 361.4899721984),
 (3950, 361.49412166728246),
 (1546, 361.50518668478327),
 (1511, 361.5079528862401),
 (2530, 361.5176344246571),
 (1098, 361.5286987225219),
 (3959, 361.5466774843879),
 (1461, 361.5618895846187),
 (2548, 361.57295252825537),
 (2941, 361.6019911449604),
 (2011, 361.6337926687715),
 (3728, 361.63794048744387),
 (2065, 361.6517662061116),
 (2788, 361.65867886724357),
 (3735, 361.6600613836148),
 (1770, 361.6780336155349),
 (994, 361.6807984950266),
 (666, 361.68771060128654),
 (652, 361.6918578016375),
 (2417, 361.72641595548424),
 (1467, 361.7388560826719),
 (2152, 361.74162049728255),
 (137, 361.74991361436423),
 (1925, 361.75958867734244),
 (3337, 361.7803200838874),
 (3427, 361.8770509441017),
 (2097, 361.89224915712134),
 (894, 361.90330200206796),
 (2867, 361.91711758357053),
 (1791, 361.96408661633825),
 (2838, 361.9765185754457),
 (3915, 362.01243072579706),
 (2508, 362.02347990151134),
 (2526, 362.07595888155845),
 (2035, 362.0787207224418),
 (573, 362.0870061186952),
 (3955, 362.12014580799007),
 (1631, 362.144998584821),
 (1543, 362.1822745524689),
 (2888, 362.19745995796274),
 (1152, 362.2085034893576),
 (2578, 362.2085034893576),
 (2976, 362.2512939935481),
 (3388, 362.2637160964371),
 (1692, 362.27061708065696),
 (3323, 362.32996011922614),
 (1082, 362.3340999685235),
 (3441, 362.3451393354132),
 (1859, 362.3465192326263),
 (448, 362.3561783659829),
 (2391, 362.3561783659829),
 (2154, 362.36445741821865),
 (2111, 362.36721706026333),
 (1261, 362.39757173579403),
 (1717, 362.4113684751073),
 (753, 362.41964626658967),
 (1068, 362.45551451178113),
 (1720, 362.4941378836353),
 (3661, 362.53551550158505),
 (3452, 362.56447702443216),
 (1009, 362.6003309430371),
 (3957, 362.61687770979444),
 (914, 362.6513477156813),
 (587, 362.65686261258037),
 (3862, 362.66237742561606),
 (2141, 362.6665134803598),
 (2300, 362.6830572276571),
 (131, 362.70787143374764),
 (3591, 362.77679087835816),
 (3778, 362.79884233552895),
 (2312, 362.80573314102963),
 (3671, 362.84983119742526),
 (3015, 362.8911682584739),
 (957, 362.907701764512),
 (2179, 362.95316502270646),
 (545, 363.01790589446136),
 (750, 363.10329108946394),
 (3926, 363.1969162864685),
 (2021, 363.23821384870837),
 (3694, 363.26161371661607),
 (1138, 363.27675400443667),
 (3130, 363.2822594071998),
 (1145, 363.3111614030045),
 (190, 363.31666628438614),
 (2561, 363.40198128243605),
 (3180, 363.4583882647366),
 (20, 363.4597639354321),
 (537, 363.4666422108087),
 (160, 363.47489596944655),
 (3051, 363.4927784702194),
 (531, 363.5092846131994),
 (283, 363.5106600912826),
 (3020, 363.52991623798994),
 (749, 363.5464206947993),
 (52, 363.54779603237864),
 (3125, 363.58217778103483),
 (830, 363.6578061859803),
 (2580, 363.6908027432093),
 (2283, 363.70455042520433),
 (1466, 363.719672275229),
 (1995, 363.719672275229),
 (3330, 363.78977445772165),
 (3659, 363.78977445772165),
 (816, 363.7938976948349),
 (3030, 363.82963045909275),
 (2747, 363.872230322678),
 (3103, 363.8845970908909),
 (1247, 363.9010854614204),
 (1358, 363.9313122005305),
 (3423, 364.0219773585106),
 (3093, 364.0412064588293),
 (2180, 364.0521940601375),
 (3905, 364.09064805347583),
 (617, 364.12497854445525),
 (2866, 364.1318442542481),
 (601, 364.13596361798704),
 (2054, 364.1400829351254),
 (3136, 364.20049423360206),
 (655, 364.2155954925599),
 (2090, 364.2842296888516),
 (2091, 364.3446170866258),
 (3416, 364.4886829518854),
 (2273, 364.5545226711637),
 (3098, 364.6093800219627),
 (462, 364.61212267284805),
 (844, 364.65874458183504),
 (435, 364.67245577367095),
 (3721, 364.6998766108922),
 (885, 364.7218117963333),
 (2320, 364.7314080251384),
 (3217, 364.7492289231055),
 (3511, 364.7903507495778),
 (3577, 364.80953934895945),
 (3070, 364.82598591657364),
 (393, 364.84243174280044),
 (2251, 364.8712101550354),
 (3010, 364.9082076358382),
 (502, 364.9465714320385),
 (1487, 364.94794149302993),
 (220, 364.97260171141613),
 (594, 365.0164379860173),
 (2855, 365.063008260218),
 (2234, 365.09039976422275),
 (483, 365.10820313983635),
 (1455, 365.11094204364787),
 (693, 365.1396992932979),
 (2218, 365.34777951973376),
 (3047, 365.34777951973376),
 (3065, 365.349148076193),
 (3028, 365.3765181289022),
 (710, 365.4312520844379),
 (484, 365.48597784319986),
 (385, 365.5051299229602),
 (2551, 365.66241261578966),
 (1238, 365.7827223913125),
 (1753, 365.8674623412145),
 (3651, 365.92622207215487),
 (2898, 365.9289548532611),
 (1310, 366.079226397784),
 (1291, 366.1734561652442),
 (1157, 366.20212997742107),
 (2080, 366.23762777737625),
 (3893, 366.2444538829223),
 (547, 366.24854948518225),
 (472, 366.29496311033273),
 (695, 366.31134298571754),
 (2350, 366.3973253177485),
 (1626, 366.40278383221926),
 (257, 366.47510147348345),
 (2418, 366.5010231909319),
 (1762, 366.51739385737204),
 (1908, 366.6483328749771),
 (2552, 366.68242390384626),
 (289, 366.742416417845),
 (1178, 366.75059645486607),
 (2797, 366.7683192425431),
 (2432, 366.9809259348502),
 (2502, 367.0027247855253),
 (3258, 367.0531296692619),
 (1493, 367.0667514226806),
 (2493, 367.11169962288045),
 (2388, 367.1879627656658),
 (3206, 367.35541373443783),
 (1798, 367.36494116886),
 (3632, 367.3703853061648),
 (3790, 367.39488292571525),
 (2525, 367.47108729803494),
 (1867, 367.4928570734403),
 (3732, 367.52550931874106),
 (1084, 367.63976933949897),
 (247, 367.70640462194837),
 (1272, 367.7417572155765),
 (1586, 367.7811849456141),
 (3147, 367.8532316019529),
 (3969, 367.99728259866265),
 (2930, 368.01494534869096),
 (1640, 368.06113622603516),
 (770, 368.0801543142472),
 (722, 368.118187543077),
 (3637, 368.2485573630941),
 (3475, 368.2648503455088),
 (1892, 368.4494537925114),
 (1726, 368.4548819055055),
 (2677, 368.51865624415814),
 (1647, 368.5742801661559),
 (1268, 368.5959847855101),
 (2809, 368.5959847855101),
 (2187, 368.62311376255286),
 (1616, 368.6515970398067),
 (1900, 368.6814343033834),
 (3138, 368.68414666215307),
 (1351, 368.8604072003391),
 (1577, 369.0027100171488),
 (29, 369.0081299917388),
 (3773, 369.05826098327617),
 (3269, 369.1490213992176),
 (3825, 369.2573628243586),
 (773, 369.26007095270944),
 (2354, 369.35484293562473),
 (293, 369.5050743900549),
 (3286, 369.50778070292375),
 (534, 369.726926257745),
 (2053, 369.74991548342507),
 (97, 369.76749451513444),
 (2542, 369.7729032798374),
 (3353, 369.8567290181429),
 (3307, 369.9121517333541),
 (797, 369.9405357621681),
 (21, 369.97567487606534),
 (3280, 369.98648623970035),
 (1227, 370.16212664182706),
 (2171, 370.2944774095342),
 (2541, 370.37413516605073),
 (3520, 370.37953507179634),
 (183, 370.44027858752077),
 (205, 370.4470272522105),
 (592, 370.4510763920116),
 (3837, 370.63324189824095),
 (2223, 370.6588728197397),
 (2876, 370.67236206655605),
 (513, 370.72901154347227),
 (1023, 370.73170892169446),
 (1331, 370.7667730528182),
 (1741, 370.77621282924827),
 (1792, 370.80318229486653),
 (853, 370.83554306457734),
 (2135, 370.8679010105889),
 (2448, 370.8773382130539),
 (235, 370.9272165802882),
 (3500, 371.0080861652479),
 (2231, 371.03908149950996),
 (2490, 371.04177662360337),
 (774, 371.31119024343985),
 (1472, 371.3906299302663),
 (2774, 371.6207744462088),
 (1605, 371.65844535002833),
 (3390, 371.7674003997661),
 (633, 371.90590207739376),
 (1409, 371.9274122728789),
 (3460, 371.93951121116453),
 (2769, 371.94488839073995),
 (3850, 371.95698676056617),
 (1911, 371.96101946306146),
 (1765, 371.971773122639),
 (697, 371.9973118182442),
 (1976, 372.00940848317265),
 (745, 372.0564473302405),
 (3582, 372.1397586928868),
 (1028, 372.16394236948855),
 (3221, 372.1746901657876),
 (2878, 372.33989847987016),
 (3995, 372.3479555469588),
 (3865, 372.42717408910966),
 (711, 372.48355668405014),
 (2669, 372.5130870184295),
 (3604, 372.6231340107589),
 (22, 372.68217022014886),
 (23, 372.737172817523),
 (610, 372.76265907410846),
 (503, 372.81630865615307),
 (126, 372.9825733194515),
 (2718, 373.0134045848755),
 (1756, 373.11258354550307),
 (2395, 373.12464405343155),
 (3071, 373.196998916122),
 (342, 373.29746851539187),
 (3670, 373.3604156843626),
 (2123, 373.4260301585844),
 (46, 373.49029438527583),
 (3600, 373.5010040147148),
 (1740, 373.71379423296645),
 (197, 373.72182168024386),
 (56, 373.9104170787436),
 (3209, 373.95186856064777),
 (384, 373.9933154482845),
 (2844, 374.00802130435653),
 (1545, 374.0200529383418),
 (3713, 374.1697475745467),
 (2993, 374.1844464966442),
 (2414, 374.20181720563573),
 (1465, 374.22185932946246),
 (1595, 374.23522014903944),
 (330, 374.2499164996567),
 (812, 374.31136771409973),
 (3948, 374.3794866175229),
 (2911, 374.4903203021408),
 (2245, 374.55306700119274),
 (2885, 374.58643862264955),
 (1389, 374.58777342566856),
 (1463, 374.6251459792842),
 (1797, 374.6611802682525),
 (3776, 374.8012806808429),
 (184, 374.8586400231426),
 (1052, 374.90798871189713),
 (3522, 375.00799991466846),
 (3009, 375.05599581929096),
 (1260, 375.1133162125813),
 (1564, 375.1799568207236),
 (847, 375.35050286365674),
 (3609, 375.35449910717733),
 (2485, 375.3917953285607),
 (348, 375.455723088622),
 (3328, 375.87497921516405),
 (2459, 375.96675384932644),
 (1133, 376.0),
 (576, 376.00930839541724),
 (1999, 376.0598356644857),
 (2753, 376.15422369023054),
 (228, 376.1754909613331),
 (3605, 376.4173215993122),
 (1849, 376.4717784907655),
 (2236, 376.54083443897554),
 (1599, 376.6656342168741),
 (2945, 376.6656342168741),
 (2505, 376.6974913640918),
 (2494, 376.7399633699616),
 (958, 376.74792633802247),
 (1270, 376.75854336696864),
 (637, 376.86071697644473),
 (3953, 376.9084769542866),
 (2261, 376.9456194200962),
 (1255, 376.9973474707746),
 (3798, 377.0490684247874),
 (3473, 377.13127687848964),
 (1788, 377.1458603776528),
 (977, 377.16707173346936),
 (628, 377.28768864090966),
 (3759, 377.3367196550052),
 (2439, 377.4784762075846),
 (2595, 377.61223497127315),
 (1819, 377.6162072792957),
 (2137, 377.6704913016107),
 (3692, 377.71550140284154),
 (2349, 377.7697711569839),
 (676, 377.82270974625123),
 (2994, 377.9232726361265),
 (2534, 377.9828038416563),
 (3113, 378.0),
 (1515, 378.05290635042076),
 (942, 378.056874028234),
 (2304, 378.10316052633044),
 (3014, 378.1282851096966),
 (1013, 378.2380202993877),
 (512, 378.27371042672263),
 (3428, 378.3212920257066),
 (3805, 378.5736388075641),
 (3462, 378.6119385333748),
 (3173, 378.6225032931878),
 (2366, 378.6436319284929),
 (158, 378.6779634465148),
 (611, 378.6964483593687),
 (2384, 378.73209528636465),
 (2766, 378.75453792661017),
 (485, 378.7703789896987),
 (2399, 378.97229450185404),
 (607, 378.98416853478193),
 (3194, 379.01846920697676),
 (1769, 379.12399027231186),
 (2773, 379.24530320097574),
 (746, 379.25980541048636),
 (1081, 379.3771210813852),
 (1030, 379.4074327158075),
 (3990, 379.4509190923116),
 (2206, 379.5247027533254),
 (3378, 379.5971548892325),
 (1683, 379.6090093767533),
 (2162, 379.7209501726235),
 (3105, 379.81837764910745),
 (1559, 379.83943976369807),
 (966, 379.84997038304476),
 (1499, 379.9618401892485),
 (907, 380.0092104146951),
 (1254, 380.6415636790076),
 (1308, 380.6546991697331),
 (2440, 380.7072366005143),
 (476, 380.7623931009994),
 (1299, 380.8122897176508),
 (2030, 380.82673225497183),
 (1222, 380.8398613590757),
 (3383, 381.04461681015783),
 (1897, 381.07610788397636),
 (2592, 381.2072926899484),
 (351, 381.23090116096307),
 (3874, 381.2348357639947),
 (2957, 381.3344988327177),
 (3012, 381.3712102401019),
 (2798, 381.6005765194806),
 (1580, 381.61760965657754),
 (449, 381.7708736925854),
 (2262, 382.01963300333136),
 (2340, 382.1033891501095),
 (3707, 382.15572742011864),
 (3634, 382.17142750341765),
 (230, 382.3859307035237),
 (2680, 382.431693247304),
 (455, 382.47091392679783),
 (3729, 382.48660107250817),
 (261, 382.5493432225443),
 (1305, 382.6486639203122),
 (3501, 382.67479666160403),
 (1796, 382.757103134612),
 (1650, 382.9529997271206),
 (2987, 383.0522157617679),
 (1985, 383.0652685900929),
 (2893, 383.16054076587795),
 (700, 383.190553119463),
 (3667, 383.22447729757556),
 (854, 383.275357934736),
 (1604, 383.31188345784426),
 (2741, 383.4149188542355),
 (543, 383.50488914745273),
 (3916, 383.5974452469672),
 (1632, 383.7134347400414),
 (2702, 383.83590243748694),
 (2588, 383.9257740761878),
 (1233, 383.9843746820956),
 (1799, 384.19266000276474),
 (2246, 384.2551235832777),
 (1811, 384.2655331928691),
 (3411, 384.3514017146288),
 (2330, 384.8584155244627),
 (2667, 385.3193480737763),
 (2041, 385.478922899813),
 (227, 385.6086098623837),
 (321, 385.6254659640621),
 (3253, 385.78750627774355),
 (2906, 385.8289776571998),
 (2244, 385.9689106650949),
 (779, 385.9727969689056),
 (3225, 385.9727969689056),
 (3856, 386.4647461282853),
 (2295, 386.5436585949898),
 (3016, 386.5449521077723),
 (1313, 386.6665229884791),
 (1966, 386.70143521843823),
 (2197, 386.71307192801225),
 (2194, 386.7479799559398),
 (1742, 386.78805565839286),
 (2085, 386.83200488067166),
 (3494, 386.8604399521874),

In [433]:
#making test data set
testSet = [[ 53,  26,  56,   1, 359,   1,   0]]
test = pd.DataFrame(testSet)

#assigning different values to k
k = 1
k1 = 3
k2 = 11


result, neigh = knn(train, test, k)
result1, neigh1 = knn(train, test, k1)
result2, neigh2 = knn(train, test, k2)

In [434]:
print(result)
print(neigh)
print(result1)
print(neigh1)
print(result2)
print(neigh2)

0
[3981]
0
[3981, 2019, 1071]
0
[3981, 2019, 1071, 1405, 2951, 1226, 776, 380, 1240, 3434, 3543]

In [360]:
# test.values[0]
# b = pd.DataFrame([[ 53,  26,  56,   1, 359,   1,   0]])

In [410]:
# result3, neigh4 = knn(train, b, 3)
# print(result3)
# print(neigh4)

0
[3981, 2019, 1071]